html, body {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Helevetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", "Source Han Sans CN", sans-serif;
}

.danshed-line {
  margin-top: 40px;
  background-image: linear-gradient(
    to right,
    #ccc 0%,
    #ccc 50%,
    transparent 50%
  );
  background-size: 4px 1px; /* no */
  background-repeat: repeat-x;
  height: 1px; /* no */
}

.ctrl-remote {
  display: flex;
  margin-top: 40px;
}


.video-container {
  height: 400px;
  margin-top: 20px;
  display: flex;
}
.video-container video {
  width: 100%;
}

.remote-video {
  width: 70%;
  padding-right: 10px;
}

.self-video {
  width: 30%;
}